My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -208,
        -288
      ],
      "id": "7c4ea087-fc0a-45e3-81f6-ce16d091a87c",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "predictions",
        "filters": {
          "conditions": [
            {
              "keyName": "created_at",
              "condition": "gte",
              "keyValue": "={{ $now.minus({ minutes: 5 }).toISO() }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        0,
        -288
      ],
      "id": "6976fa4e-c453-46cb-be84-476213bd5cd6",
      "name": "Get many rows",
      "credentials": {
        "supabaseApi": {
          "id": "TJHKbgaflwZFhZQD",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "language": "pythonNative",
        "pythonCode": "# In modern n8n Native Python mode, the incoming batch is stored in '_items'\nitems = _items\n\nif len(items) == 0:\n    return [{\"json\": {\"breach\": False, \"reason\": \"No data\"}}]\n\ntotal = len(items)\n\n# Count transactions flagged as fraud or exceeding the probability threshold\n# Bracket notation item[\"json\"] is strictly enforced over dot-notation\nfraud_count = len([\n    i for i in items \n    if i[\"json\"].get('label') == 'Fraud' or i[\"json\"].get('prediction') == 'Fraud' or float(i[\"json\"].get('fraud_probability', 0)) > 0.8\n])\n\n# Extract and sort latencies to compute the percentile\nlatencies = sorted([float(i[\"json\"].get('latency_ms', 0)) for i in items])\n\n# P95 Latency calculation using native integer truncation\np95_index = int(total * 0.95)\np95_latency = latencies[p95_index] if p95_index < total else latencies[-1]\nfraud_rate = fraud_count / total\n\n# Boundaries\nFRAUD_THRESHOLD = 0.15      # 15%\nLATENCY_THRESHOLD = 200.0   # 200ms\n\nbreach = (fraud_rate > FRAUD_THRESHOLD) or (p95_latency > LATENCY_THRESHOLD)\n\n# Fallback timestamp generation parsing from the telemetry payload metadata\ntry:\n    current_timestamp = items[0][\"json\"].get('created_at', '2026-07-09T16:05:00Z')\nexcept Exception:\n    current_timestamp = \"2026-07-09T16:05:00Z\"\n\n# Return the exact list-of-dicts tracking schema downstream blocks expect\nreturn [{\n    \"json\": {\n        \"breach\": breach,\n        \"total_transactions\": total,\n        \"fraud_rate\": fraud_rate * 100,\n        \"p95_latency\": p95_latency,\n        \"timestamp\": current_timestamp\n    }\n}]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        192,
        -288
      ],
      "id": "0d7b0a9d-287d-498f-9a82-2380fa81c3cc",
      "name": "Code in Python"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "bee99bbd-178b-4376-aee8-94ee27314dca",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        400,
        -288
      ],
      "id": "2024a8bc-4123-4dfa-b010-108aa00e83db",
      "name": "If"
    },
    {
      "parameters": {
        "chatId": "8827409337",
        "text": "=🚨 <b>SYSTEM BREACH DETECTED</b> 🚨 -------------------------------------- The real-time operational limits have been violated.   • <b>Total Transactions:</b> {{ $json.total_transactions }} • <b>Current Fraud Rate:</b> {{ $json.fraud_rate.toFixed(2) }}% • <b>Tail Latency (p95):</b> {{ $json.p95_latency.toFixed(1) }} ms • <b>Timestamp:</b> <code>{{ $json.timestamp }}</code>  ⚠️ <i>Action Required: Review the Live Production Telemetry or check model health logs immediately.</i>",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        608,
        -368
      ],
      "id": "5e06cbc3-a831-44eb-a9bc-d0084deffd0c",
      "name": "Send a text message",
      "webhookId": "4c2a8db1-5598-4bae-b854-4ffd4f724c04",
      "credentials": {
        "telegramApi": {
          "id": "nmDb0P0LHGpa9MHm",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get many rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many rows": {
      "main": [
        [
          {
            "node": "Code in Python",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in Python": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "0a33dd6f-8a5a-4be9-97cc-9160ffeab269",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "19cfb8f3e1a0f1efbd0d84ca2f7704f507c501bb7bde4d3fc242bbd2a17e1900"
  },
  "nodeGroups": [],
  "id": "MdfpUbobneXPwz3i",
  "tags": []
}